<div class="container mt-1">
	<div class="row d-flex justify-content-around">
		<%= render "subnavbar" %>
		<% if @accounting_entries.size == 0 %>
			<p>There are no accounting entries found.</p>
		<% else %>
			<%= render "list" %>
		<% end %><hr>
	</div>
</div>