<% if user_signed_in? %>
<main>
	<section class="dashboard">
		<div class="dash-content">
			<div class="overview">
				<div class="title">
					<i class="uil uil-tachometer-fast-alt"></i>
					<span class="text">Dashboard</span>
				</div>

				<div class="boxes">
					<div class="box box1">
						<i class="uil uil-thumbs-up"></i>
						<span class="text">Income</span>
						<span class="number">50,120</span>
					</div>
					<div class="box box2">
						<i class="uil uil-comments"></i>
						<span class="text">Expenses</span>
						<span class="number">40,100</span>
					</div>
					<div class="box box3">
						<i class="uil uil-share"></i>
						<span class="text">Profits</span>
						<span class="number">10,020</span>
					</div>
				</div>
			</div>

			<div class="activity">
				<div class="title">
					<i class="uil uil-clock-three"></i>
					<span class="text">Recent Activity</span>
				</div>

			</div>
		</div>
	</section>
</main>
<% end %>

