.cta-start {

	border-radius: 50px !important;
	padding: 12px 30px !important;
	font-weight: 700;
	transition: .3s ease-in-out;
	background: #2ac28a;
	color: #002043;
}

.cta-login {
	color: #2ac28a;
	font-size: 1.25em;
}

.button {
	border-radius: 50px !important;
	padding: 12px 30px !important;
	font-weight: 700;
	transition: .3s ease-in-out;
	color: #2ac28a;
	background: #002043;
}

.button:hover{
	color: #d3b04d;
}

.button-link {
	color: #002043;
}

.button-link:hover {
	color: #2ac28a;
}