<table>
  <thead>
    <tr>
      <th>Account Category</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Assets</td>
      <td><%= @balance_sheet[:assets] %></td>
    </tr>
    <tr>
      <td>Liabilities</td>
      <td><%= @balance_sheet[:liabilities] %></td>
    </tr>
    <tr>
      <td>Equity</td>
      <td><%= @balance_sheet[:equity] %></td>
    </tr>
  </tbody>
</table>
